@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

html
{
  background-color: hsl(212, 45%, 89%);
}
.container
{
  margin: 1.25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;

}
.card
{
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px 10px 10px 10px;
  margin: auto;
  width: 300px;
  text-align: center;


}
#bold
{
  color: hsl(218, 44%, 22%);
  font-size: 25px;
  font-weight: 700;
}
#normal
{

  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;

}
.container img
{
  border-radius: 15px;
  width: 275px;
  height: auto;
}
.attribution
{
  font-size: 11px;
  padding-bottom:50px;
}
.attribution a
{
  color: hsl(228, 45%, 44%);
}
